<div class="d-flex justify-content-center alig-items-center vh-100">
    <div class="d-flex gap-3">
        <a routerLink="/empresa" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm" style="width: 12rem; height: 8rem;">
                <div>
                    <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
                    <div class="mt-2 fw-bold">Empresa</div>
                </div>
            </div>
        </a>

        
        <a routerLink="/establecimiento" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm" style="width: 12rem; height: 8rem;">
                <div>
                    <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
                    <div class="mt-2 fw-bold">Establecimiento</div>
                </div>
            </div>
        </a>


                <a routerLink="/registro-establecimiento" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm" style="width: 12rem; height: 8rem;">
                <div>
                    <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
                    <div class="mt-2 fw-bold">Registro Establecimiento</div>
                </div>
            </div>
        </a>

                <a routerLink="registro-producto" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm" style="width: 12rem; height: 8rem;">
                <div>
                    <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
                    <div class="mt-2 fw-bold">Registro Producto</div>
                </div>
            </div>
        </a>
        
        <a routerLink="/mantenimiento" class="text-decoration-none">
            <div class="card text-center p-4 shadow-sm" style="width: 12rem; height: 8rem;">
                <div>
                    <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
                    <div class="mt-2 fw-bold">Mantenimiento</div>
                </div>
            </div>
        </a>
    </div>
</div>