<div class="container py-5">
    <div class="row justify-content-center g-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of items">
            <a [routerLink]="item.link" class="text-decoration-none">
                <div class="card text-center shadow-sm p-4 h-100 hover-card">
                    <div class="mb-3" [ngStyle]="{'color':item.color}">
                        <i class="{{item.icon}}" style="font-size: 2.5rem;"></i>
                    </div>
                    <h5 class="fw-bold text-dark">{{item.titulo}}</h5>
                    <p class="text-muted small">{{item.descripcion}}</p>
                </div>
            </a>

        </div>

    </div>

</div>