<div class="d-flex">
    <div [ngClass]="{ 'sidebar': true, 'collapsed': isCollapsed }">
        <ul>
            <li class="nav-item mt-2">
                <a class="nav-link active" routerLink="/inicio">Inicio</a>
            </li>

            <li class="nav-item mt-2">
                <a class="nav-link active" routerLink="/empresa">Empresa</a>
            </li>


            <li class="nav-item mt-2">
                <a class="nav-link active" routerLink="/registroEstablecimiento">Registro Establecimiento</a>
            </li>

            <li class="nav-item mt-2">
                <a class="nav-link active" routerLink="/registroProducto">Registro Producto</a>
            </li>


            <li class="nav-item mt-2">
                <a class="nav-link active" routerLink="/categoria">Categorias</a>
            </li>

            <li class="nav-item mt-2">
                <a class="nav-link active" routerLink="/mantenimiento">Mantenimiento</a>
            </li>

            <li class="nav-item mt-2" *ngIf="isAdmin()">
                <a class="nav-link active" routerLink="/usuario">Usuario</a>
            </li>

            <li class="logout">
                <button (click)="logout()">Cerrar Sesion</button>
            </li>
        </ul>
    </div>

        <button class="btn toggle-btn" (click)="toggleSidebar()">
            <i class="bi bi-filter"></i>
        </button>
</div>