.sidebar {
    width: 200px;
    background-color: #f7f7f7;
    min-height: 100vh;
    transition: width 0.3s ease;
    overflow-x: hidden;
}

.collapsed {
    width: 0;
    padding: 0;
    border:none;
}

.sidebar ul{
    padding: 0;
    margin:0;
    list-style: none;
}

.sidebar .nav-link {
    padding: 10px;
    display: block;
}

.main-content {
    flex-grow: 1;
}

.btn {
    background-color: antiquewhite;
}

.nav-item a{
    color: black;
}