.sidebar {
    width: 250px; /*ancho navbar */
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(210,180,140,0.85);
    height: 100vh;
    color: black;
    padding-top: 1rem;
    z-index: 1000;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.collapsed {
    transform: translateX(-100%);
}

.collapsed ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.sidebar ul{
    padding: 0;
    margin:0;
    list-style: none;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
}

.sidebar .nav-link {
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background-color: #f1f1ca;
}


.main-content {
    /*margin-left: 250px;*/ /* solo si tenés una sidebar fija a la izquierda */
    padding: 1rem;
    transition: margin-left 0.3s ease;
}

.main-content.collapsed{
    margin-left: 0;
}

.btn {
    background-color: antiquewhite;
}

.nav-item a{
    color: black;
}

.logout {
  margin-top: auto; /* esto empuja el botón hacia abajo */
}

.logout button {
  width: 100%;
  padding: 10px;
  background-color: #c0392b;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.logout button:hover {
  background-color: #e74c3c;
}

.collapsed .logout button {
    opacity:0;
}

.toggle-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1100;
    background-color: antiquewhite;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.toggle-btn:hover {
    background-color: #ccc;
}