<div class="d-flex">
    <div [ngClass]="{ 'sidebar': true, 'collapsed': isCollapsed }">
        <ul>
            <li class="nav-item mt-4">
                <a class="nav-link active" routerLink="/inicio">Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" routerLink="/empresa">Empresa</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" routerLink="/registro-producto">Registro Producto</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" routerLink="/registro-establecimiento">Registro Establecimiento</a>
            </li>

             <li class="nav-item">
                <a class="nav-link active" routerLink="/registro-producto-establecimiento">Registro Producto Establecimiento</a>
            </li>

             <li class="nav-item">
                <a class="nav-link active" routerLink="/mantenimiento">Mantenimiento</a>
            </li>

            <li class="logout">
               <button (click)="logout()">Cerrar Sesion</button>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <button class="btn" (click)="toggleSidebar()">navbar</button>
    </div>
</div>