<!--Modal-->
<app-registro-establecimiento-modal *ngIf="modalAbierto" (cerrar)="ocultarModal()"
    (registroEstCreado)="registroCreado($event)" [registroEstParaEditar]="registroEstEditando" [modo]="modo">
</app-registro-establecimiento-modal>

<app-mantenimiento-asociado-modal *ngIf="mostrarModalAsociacion" [tipo]="tipoModalAsociacion"
    (cerrar)="cerrarModalAsociacion()">
</app-mantenimiento-asociado-modal>

<div>
    <label for="regEstablecimiento">Ingrese id registro establecimiento:</label>
    <div class="seccionFilter">
        <input type="text" id="registroEstablecimiento" [(ngModel)]="idRegistroEstablecimiento"
            class="form-control mt-3 mb-2 w-50" placeholder="Ingrese id de registro establecimiento...">

        <button class="btn btn-success" (click)="obtenerRegistroEstablecimientoPorId()">
            <i class="bi bi-search"></i>
            Buscar
        </button>

        <button class="btn btn-success ms-2" (click)="cargarRegistros()">
            Mostrar Todos
        </button>
    </div>

    <h2>Listado de Registros Establecimiento</h2>
    <div class="mb-3" *ngIf="isAdmin()">
        <button class="btn btn-success btn-AgregarRegistro" (click)="abrirModal()">
            <i class="bi bi-plus-circle-fill"></i>
            Agregar Registro
        </button>

        <button class="btn btn-success btn-AgregarMantenimiento ms-2"
            (click)="abrirModalAsociacion('registroEstablecimiento')">
            <i class="bi bi-plus-circle-fill"></i>
            Agregar Mantenimiento
        </button>
    </div>

    <div class="table-responsive mt-3 container">
        <table class="table table-bordered table-striped" *ngIf="registrosEstablecimientos.length > 0">
            <thead>
                <tr>
                    <th>RPE (Registro Provincial de Establecimientos)</th>
                    <th>Fecha Emision</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Razon Social</th>
                    <th>Departamento</th>
                    <th>Localidad</th>
                    <th>Direccion</th>
                    <th>Expediente</th>
                    <th> Enlace</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let reg of registrosEstablecimientos">
                    <tr>
                        <td>{{reg.rpe}}</td>
                        <td>{{reg.fechaEmision}}</td>
                        <td>{{reg.fechaVencimiento}}</td>
                        <td>{{reg.empresa.razonSocial}}</td>
                        <td>{{reg.departamento}}</td>
                        <td>{{reg.localidad}}</td>
                        <td>{{reg.direccion}}</td>
                        <td>{{reg.expediente}}</td>
                        <td>
                            <a *ngIf="reg.enlace" [href]="reg.enlace" target="_blank" rel="noopener noreferrer">
                                {{reg.enlace}}
                            </a>
                        </td>
                        <td *ngIf="isAdmin()">
                            <button class="btn btn-sm btn-primary me-2"
                                (click)="abrirModalParaEditar(reg)">Editar</button>
                            <button class="btn btn-sm btn-danger">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>

                    <tr *ngFor="let cat of reg.categorias">
                        <td colspan="2">
                            <strong>Categoria</strong>
                        </td>
                        <td colspan="2">{{cat.nombreCategoria}}</td>
                        <td colspan="2">
                            <a class="btn btn-primary btn-info" [routerLink]="['/categoria',cat.idCategoria]">
                                Ver detalles
                            </a>
                        </td>
                    </tr>

                    <tr *ngFor="let man of reg.mantenimientos">
                        <td colspan="2">
                            <strong>Mantenimientos</strong>
                        </td>
                        <td colspan="2">{{man.fechaMantenimiento}}</td>
                        <td colspan="4">{{man.enlaceRecibido}}</td>
                        <td colspan="2">
                            <a class="btn btn-primary btn-info" [routerLink]="['/mantenimiento',man.idMantenimiento]">
                                Ver detalles
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div *ngIf="registrosEstablecimientos.length === 0" class="alert alert-info mt-3">
        No hay registros cargados
    </div>
</div>