.seccionFilter button {
 background-color: #6B8E23 ;
}

.btn-AgregarMantenimiento{
    background-color: #6B8E23;
}

thead {
    background-color: #6B8E23 !important;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: #F0F0e6;
}

.table-striped tbody tr:hover {
    background-color: #e0e0d0;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}