
<div class="container justify-content-center mb-3">
    <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Fecha Mantenimiento:</span>
    <input type="datetime-local" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Enlace recibido: </span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</div>

<div class="justify-content-center mb-3">
    <button class="btn btn-primary me-3">
    Agregar Tramite
    </button>
</div>
