<!--Filtro-->
<div>
  <h2 class="mt-4">Buscar Empresa:</h2>
  <input type="number" id="empresa" [(ngModel)]="cuitBuscado" class="form-control mt-5 mb-2 w-50"
    placeholder="Ingrese cuit de empresa">
  <button class="btn btn-primary" (click)="obtenerEmpresaPorCuit()">
    Buscar
  </button>

  <button class="btn btn-secondary ms-2" (click)="cargarEmpresas()">
    Ver todas
  </button>
</div>

<!--Modal-->
<app-empresa-modal *ngIf="modalAbierto" (cerrar)="ocultarModal()" (empresaCreada)="guardarEmpresa($event)" [empresaParaEditar]="empresaEditando" [modo]="modo">
</app-empresa-modal>
<!--TABLA PARA MOSTRAR LOS DATOS-->
<div class="container mt-5">

  <h2>Listado de empresas:</h2>
  <button class="btn btn-success" (click)="abrirModal()">
    Agregar Empresa
  </button>

  <table class="table table-bordered table-striped" *ngIf="empresas.length > 0">
    <thead class="table-dark">
      <tr>
        <th>Cuit Empresa</th>
        <th>Nombre Empresa</th>
        <th>Cuit Titular</th>
        <th>Nombre Titular</th>
        <th>Email</th>
        <th>Telefono</th>
        <th *ngIf="isAdmin()">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let em of empresas">
        <td>{{em.cuitEmpresa}}</td>
        <td>{{em.nombreEmpresa}}</td>
        <td>{{em.titular.cuitTitular}}</td>
        <td>{{em.titular.nombreTitular}}</td>
        <td>{{em.email}}</td>
        <td>{{em.telefono}}</td>

        <td *ngIf="isAdmin()">
          <button class="btn btn-sm btn-primary me-2"(click)="abrirModalParaEditar(em)">Editar</button>
          <button class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="empresas.length === 0" class="alert alert-info mt-3">
    No hay empresas cargadas
  </div>
</div>