<!--Filtrar-->
<div class="seccionEstablecimiento">
    <div>
        <label for="establecimiento">Ingrese numero de establecimiento:</label>
        <input type="number" id="establecimiento" [(ngModel)]="establecimientoBuscado" class="form-control mt-3 mb-2 w-50"
        placeholder="Ingrese numero de establecimiento...">
    </div>

    <button class="btn btn-success" (click)="obtenerEstablecimientoPorId()">
        <i class="bi bi-search"></i>
        Buscar
    </button>

    <button class="btn btn-success ms-2" (click)="cargarEstablecimientos()">
        Mostrar Todos
    </button>
</div>

<h2>Listado de establecimientos</h2>
<button class="btn btn-success btn-agregarEstablecimiento" (click)="abrirEstablecimientoModal()">
    <i class="bi bi-house-add"></i>
    Agregar Establecimiento
</button>

<app-establecimiento-modal *ngIf="mostrarModalEstablecimiento" (cerrar)="cerrarEstablecimientoModal()"
    (establecimientoCreado)="abrirProductoModal($event)">

</app-establecimiento-modal>


<app-producto-modal *ngIf="mostrarModalProducto" [idEstablecimiento]="idEstablecimientoCreado"
    (cerrar)="cerrarProductoModal()">

</app-producto-modal>



<div class="table-responsive mt-3 container">
    <table class="table table-bordered table-striped" *ngIf="establecimientos.length">
    <thead>
        <tr>
            <th>Localidad</th>
            <th>Departamento</th>
            <th>Direccion</th>
            <th>Cuit Empresa</th>
            <th>Marca Producto</th>
            <th>Denominacion</th>
            <th>Nombre fantasia</th>
            <th *ngIf="isAdmin()">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let es of establecimientos">
            <td>{{es.localidad}}</td>
            <td>{{es.departamento}}</td>
            <td>{{es.direccion}}</td>
            <td>{{es.cuitEmpresa}}</td>
            <td *ngIf="es.productos?.length">
                <ul>
                    <li *ngFor="let prod of es.productos">
                        {{prod.marca}}
                    </li>
                </ul>
            </td>
            <td *ngIf="es.productos?.length">
                <ul>
                    <li *ngFor="let prod of es.productos">
                        {{prod.denominacion}}
                    </li>
                </ul>
            </td>

            <td *ngIf="es.productos?.length">
                <ul>
                    <li *ngFor="let prod of es.productos">
                        {{prod.nombreFantasia}}
                    </li>
                </ul>
            </td>
            <ng-container *ngIf="isAdmin()">
                <td>
                    <button class="btn btn-sm btn-danger"
                        (click)="eliminarEstablecimiento(es.idEstablecimiento!)">
                        <i class="bi bi-trash3"></i>
                    </button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>
</div>
<div *ngIf="establecimientos.length === 0" class="alert alert-info mt-3">
    No hay establecimientos cargados
</div>