<form class="login-form-content"  [formGroup]="loginForm" (ngSubmit)="onLogin()" #form="ngForm">

    <!--Mensaje de error-->
    <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
        {{ errorMessage }}
    </div>

    <div class="login-container">
        <div class="login-form">
            <div class="logo-container">
                <div class="logo-text">ICAB</div>
                <div class="subtitle">Instituto de Control de Alimentacion y Bromatologia
                </div>

                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario" formControlName="username" [ngClass]="{
                        'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched,
                        'is-valid': loginForm.get('username')?.valid && loginForm.get('username')?.touched
                    }">
                    <div class="invalid-feedback" *ngIf="loginForm.get('username')?.errors?.['required']">
                       El nombre de usuario es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" formControlName="password" [ngClass]="{
                         'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched,
                         'is-valid': loginForm.get('password')?.valid && loginForm.get('password')?.touched
                    }">

                    <div class="alert alert-info mt-2 p2" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        La contraseña debe tener al menos 8 caracteres, una mayuscula, una minuscula, un numero y un simbolo.
                    </div>

                    <div class="invalid-feedback" *ngIf="loginForm.get('password')?.errors?.['required']">
                         La contraseña es obligatoria
                    </div>
                </div>

                <button type="submit" class="login-btn">Iniciar Sesión</button>
                <div class="container mb-3 mt-4 align-items-center">
                    <a routerLink="/loginRegister">
                        <p> ¿Desea registrar un nuevo usuario?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>