<!-- MODAL -->
<div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Establecimiento</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="establecimientoForm" novalidate (ngSubmit)="crearEstablecimiento()">
            <div class="mb-3">
            <label class="form-label">Localidad</label>
            <input type="text" class="form-control" formControlName="localidad" name="localidad"
            [ngClass]="{
              'is-invalid': establecimientoForm.get('localidad')?.invalid && establecimientoForm.get('localidad')?.touched,
              'is-valid': establecimientoForm.get('localidad')?.valid && establecimientoForm.get('localidad')?.touched
            }"
            >
            <div class="invalid-feedback" *ngIf="establecimientoForm.get('localidad')?.errors?.['required']">
              La localidad del establecimiento es obligatoria
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Departamento</label>
            <input type="text" class="form-control" formControlName="departamento" name="departamento" [ngClass]="{

              'is-invalid': establecimientoForm.get('departamento')?.invalid && establecimientoForm.get('departamento')?.touched,
              'is-valid': establecimientoForm.get('departamento')?.valid && establecimientoForm.get('departamento')?.touched
            }">

              <div class="invalid-feedback" *ngIf="establecimientoForm.get('departamento')?.errors?.['required']">
              El departamento del establecimiento es obligatorio
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Direccion</label>
            <input type="text" class="form-control" formControlName="direccion" name="direccion" [ngClass]="{
              'is-invalid': establecimientoForm.get('direccion')?.invalid && establecimientoForm.get('direccion')?.touched,
              'is-valid': establecimientoForm.get('direccion')?.valid && establecimientoForm.get('direccion')?.touched
            }">

              <div class="invalid-feedback" *ngIf="establecimientoForm.get('direccion')?.errors?.['required']">
              La direccion del establecimiento es obligatoria
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Cuit Empresa</label>
            <input type="number" class="form-control" formControlName="cuitEmpresa" name="cuitEmpresa" [ngClass]="{
              'is-invalid': establecimientoForm.get('cuitEmpresa')?.invalid && establecimientoForm.get('cuitEmpresa')?.touched,
              'is-valid': establecimientoForm.get('cuitEmpresa')?.valid && establecimientoForm.get('cuitEmpresa')?.touched
            }">

              <div class="invalid-feedback" *ngIf="establecimientoForm.get('cuitEmpresa')?.errors?.['required']">
              El cuit de la empresa es obligatorio
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-danger" (click)="cerrarModal()">Cancelar</button>
            <button type="submit" class="btn btn-success">Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>