html, body{
    height: 100%;
    margin: 0;
    background-color: #F5F5DC;
    font-family: 'Inter', sans-serif;

}

.estadoObservado {
    background-color: #fff3cd;
}

@media (max-width: 768px) {
  .main-content {
    padding-left: 10px;
  }
}


/* Evita que las tablas se deformen en pantallas pequeñas */
.table-responsive {
  overflow-x: auto;
}

/* Ajuste general para filtros */
.seccionFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Responsive para filtros */
@media (max-width: 768px) {
  .seccionFilter {
    flex-direction: column;
    align-items: stretch;
  }

  .seccionFilter input,
  .seccionFilter button {
    width: 100%;
  }
}

